* {
    margin: auto;
}

body {
    background-image : url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;

}

p {
    margin-bottom: 0px;
}

h5 {
    text-align: center;
}

.md {
    margin:0px;
    padding-top: 3%;
}

.in {
    margin:0px;
}

.bun input {
    width:100%;
}