* {
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  form {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    outline: 3px solid #333;

  }
  form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
  }
  form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
    margin-bottom: 1.2em;
    margin-top: -1em;
  }
  form button:hover {
    background: gold;
  }
  
  label {
    text-align: right;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
  }

  
  input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }

  select {
    width: 210%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }

  input:focus {
    outline: 3px solid gold;
  }

  select:focus {
    outline: 3px solid gold;
  }

  
  @media (min-width: 400px) {
    form {
      overflow: hidden;
    }
  
    label {
      float: left;
      width: 200px;
    }
  
    input {
      float: left;
      width: calc(100% - 200px);
    }
  
    button {
      float: right;
      width: calc(100% - 200px);
    }

  }